/* здесь используйте глобальные селекторы img, body, html и так далее*/
* {
  box-sizing: border-box;
}

body {
  font-family: "lato", "Arial", "Verdana", "Helvetica", sans-serif;
  color: $base-color-text;
  font-weight: 400;
}

li {
  list-style-type: none;
}
