.benefits__item {
  background-color:$sades-of-white-smoke;
}

.benefits__description {
  font-size: 14px;
  line-height: 18px;
  color: $base-color-text;
}

.benefits__link {
  font-family: "oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color:$sades-of-black;
}


