.button {
  font-family: "oswald", "Arial", "Verdana", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $sades-of-apple;
  text-decoration: none;
  border: 0;
}
