.hero-screen {
  background-color: $sades-of-apple;
}

.hero-screen__headline {
  
}

.hero-screen__subtitle {
  font-family: "oswald", sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
}


