.hero-screen {
  background-color: $sades-of-apple;
  display: grid;
  grid-template-columns: 280px;
}


.hero-screen__subtitle {
  font-family: "oswald", "Arial", "Verdana", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
}
