.hero-screen__headline {
  font-family: "oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #000;
}

.hero-screen__subtitle {
  font-family: "oswald", sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #000;
}
