.navigation {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.navigation__toggle {
  background-color: #ffffff;
  border: none;
}

.navigation-list__link {
  font-family: "oswald", "Arial", "Verdana", "Helvetica", sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $sades-of-black;
  text-decoration: none;
}
