.navigation-list__item {

}

.navigation-list__link {
  font-family: "oswald", Arial, Verdana, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color:$sades-of-black;
  text-decoration: none;
}
