.offers__number {
  font-family: "oswald", "Arial", "Verdana", "Helvetica", sans-serif;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: $sades-of-black;
}

.offers__description {
  font-size: 12px;
  line-height: 16px;
}
