.title {
  font-family: "oswald", "Arial", "Verdana", "Helvetica", sans-serif;
  color: $sades-of-black;
  font-weight: 400;
}

.hero-screen__headline {
  font-size: 36px;
  line-height: 40px;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.benefits__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.advantages__title {
  font-size: 36px;
  line-height: 40px;
}

.stats__title {
  font-size: 36px;
  line-height: 40px;
}

.map__title {
  color: #111111;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog__title {
  font-size: 36px;
  line-height: 36px;
}

.card__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
}

.card-product__title {
  font-size: 24px;
  line-height: 24px;
}

.card-product__item-title {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
}

.form__title {
  font-size: 36px;
  line-height: 36px;
}

.select__title {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.select-group__title {
  font-size: 24px;
  line-height: 26px;
}
